@import '../../variables.scss';

.work-experience {
  margin-bottom: 5px;

  .work-experience-title {
    margin-bottom: 5px;
  }

  .work-experience-content {
    margin-left: 15px;
  }

  .work-experience-description {
    color: $strong-grey;
    text-align: justify;
    margin-bottom: 3px;
  }

  .work-experience-skills-header {
    color: $strong-grey;
    font-weight: $bold;
    font-size: 16px;
  }
  .work-experience-skills-item {
    color: $strong-grey;
    font-size: 12px;
    margin-left: 10px;
  }

  .work-experience-logo {
    padding-left: 8px;
    position: relative;
    top: -10px;

    img.small {
      width: 60px;
    }
  }
}
