<div class="work-experience">
  <div class="work-experience-title">
    <span class="subtitle">{{ experience.date }} - </span><span class="subtitle-small">{{ experience.title }}</span>
  </div>
  <div class="work-experience-content">
    <div fxLayout="row">
      <div *ngIf="experience.description" class="work-experience-description">{{ experience.description }}</div>
      <div *ngIf="experience.logo.url" class="work-experience-logo" fxLayoutAlign="center center">
        <img [src]="experience.logo.url" alt="company logo" [ngClass]="experience.logo.class" width="90px" heigh="90px" />
      </div>
    </div>
    <div *ngIf="experience.skills.length > 0">
      <span class="work-experience-skills-header">Skills gained:</span>
      <li class="work-experience-skills-item" *ngFor="let skill of experience.skills">{{ skill }}</li>
    </div>
  </div>
</div>
