@import '../../variables.scss';

#resume {
  height: 100%;
}

.left-column {
  background-color: $green;
  color: white;
  padding: 0 10px 10px;
  text-align: center;
}
.right-column {
  background-color: white;
  color: black;
  padding: 10px;

  .category {
    padding: 5px 10px;
    position: relative;
    left: -20px;
    top: 10px;
    background-color: $grey;
    color: black;
  }

  .work-experiences,
  .studies {
    margin-top: 20px;
  }
}

.profile-picture {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.profile-description {
  padding: 10px 0;
  border-top: solid 2px white;
  border-bottom: solid 2px white;
}

.extra {
  img {
    margin-right: 5px;
  }
}

.footer {
  padding: 10px;
  background-color: $grey;
}
