@import './variables.scss';

@font-face {
  font-family: Avenir;
  src: url('/assets/avenir.otf') format('truetype');
}

* {
  font-family: Avenir;
  font-size: 14px;
}

html,
body {
  height: 100%;
}

body {
  background-color: $light-grey;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.title {
  font-size: 26px;
  font-weight: $bold;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 20px;
  font-weight: $bold;
  margin-bottom: 5px;
}

// Country flags
.french-flag {
  &::before {
    content: $french-flag;
  }
}

.english-flag {
  &::before {
    content: $english-flag;
  }
}

.spanish-flag {
  &::before {
    content: $spanish-flag;
  }
}
