// Theme color

$purple: #4b4569;
$strong-grey: #919191;
$grey: #cdcdcd;
$light-grey: #e7e7e7;
$maize: #ffc052;
$turquoise: #60dbcb;
$green: #245d5e;

$bold: 600;

$english-flag: '\01F1EC \01F1E7';
$french-flag: '\01F1EB \01F1F7';
$spanish-flag: '\01F1EA \01F1F8';
